<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="../js/script-theme.js"></script>
</head>
<body>
<div th:replace="general.html :: header"> </div>
<div th:replace="general.html :: statistics"> </div>
<div th:if="${user != null}">
    <div th:replace="general.html :: user-info"> </div>
</div>
<div th:unless="${user != null}">
    <div th:replace="general.html :: login "> </div>
</div>
<div th:if = "${user != null}">
        <div class="topic">
            <input type="button" value="New Topic" onmousedown="viewDiv()">
             <div id="form-topic">
               <form th:action="@{/createTopic}" method="post">
               <div> <label>The name of the topic</label>
                   <input type="hidden" name="nameTheme" th:value="${theme.getNameTheme()}">
                    <input type="text" name="nameTopic" minlength="10", maxlength="50">
               </div>
                   <div>
                   <label>Description </label>
                   <textarea name="description" cols="40" rows="5" maxlength="200" minlength="20"></textarea>
                   <input class="submit"  type = "submit" value="Create">
                   </div>
                </form>
             </div>
        </div>
</div>

<div class="topic ">
    <label>Topic:</label>
    <div th:each="topic: ${topics}" >
        <div th:text="${topic.getAuthor().getUsername()}" class="column left"></div>
        <div class="column middle">
            <a th:href= "'http://localhost:8080/topic/'+${topic.getId()}">
                <div th:text="${topic.getNameTopic()}"></div>
            </a>
        </div>

    </div>

</div>



</body>
<script></script>


</html>
</html>
