<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/block-form.js"></script>
    <script src="../js/show-comments.js"></script>
    <script src="../js/add-comment.js"></script>
</head>
<body>
<div th:replace="general.html :: header"> </div>
<div th:replace="general.html :: statistics"> </div>
<div th:replace="general.html :: authentication"> </div>
<div th:if = "${user != null}">
    <div class="topic">
        <input type="button" value="new comment" onmousedown="viewDiv()">
        <div id="form-topic">
                <div>
                    <label>Comment</label>
                    <input th:value="${topic.getNameTopic()}" type="hidden" id="nameTopic">
                    <textarea  id="textComment" name="description" cols="40" rows="5" maxlength="200" minlength="20"></textarea>
                    <button  id="newComment" class="submit"  type = "submit"  onmousedown="sendComment()">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:text="${topic.getDescription()}"> </div>
<div id="showComments"></div>
</body>
</html>